<div id="new_message" class="mt-3">
  <%= form_with model: message, url: messages_path, data: { controller: "message-form" } do |f| %>
    <%= f.hidden_field :recipient_id, value: partner.id %>
    <%= f.text_field :content, rows: 1, maxlength: 140, class: "form-control border-dark rounded-1 px-1 py-0", style: "width: 200px;", data: { action: "keydown->message-form#submitOnEnter" } %><br>
  <% end %>
</div>