<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6 w-auto">
      <h2 class="mt-3 mb-4">送信が完了しました</h2>
      <p class="mb-2 lh-1" >内容は以下の通りです。</p>
      <div>
        <span>[タイトル]</span>
        <p class="lh-1"><%= @subject %></p>
      </div>
      <div>
        <span>[本文]</span>
        <%= simple_format(@body, class: "lh-1") %>
      </div>
    </div>
  </div>
</div>