<div id="follow_form">
  <% if Current.user == user %>
    <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary w-100 mx-n2" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  <% else %>
    <% if Current.user.following?(user) %>
      <%= button_to "フォロー外す", relationship_path(Current.user.active_relationships.find_by(followed_id: user.id)), method: :delete, class: "btn btn-info text-white" %>
    <% else %>
      <%= button_to "フォローする", relationships_path(followed_id: user.id), method: :post, class: "btn btn-success btn-signup" %>
    <% end %>
  <% end %>
</div>