<% if flash[:errors] %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container mt-3">
  <div class="row justify-content-between" >
    <%= render 'title', user: @user, new_book: @new_book %>
  
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-borderless">
        <thead class="border-top">
          <tr class="border-2 border-top-0 border-end-0 border-start-0">
            <th class="p-0"></th>
            <th class="fw-bold p-3">Title</th>
            <th class="fw-bold p-3">Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <%= render 'book_list', books: @books %>
      </table>
    </div>
  </div>
</div>

