<h2>Book detail</h2>
<div class="show-contents">
  <span><%= @book.title %></span>
  <span><%= @book.body %></span>
</div>
<div class="edit-button">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(book), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？"} %>
</div>