/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;

  &:hover {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

h1 {
  font-size: 2.5rem !important;
}

strong {
  font-family: sans-serif;
  font-weight: 900 !important;
}

p {
  line-height: 2.5;
}

.btn {
  font-size: 14px !important;
}

// Block: .button / Modifiers: --signup, --login
.button {
  &--signup {
    background-color: #47b347 !important;
    border-color: #47b347 !important;

    &:hover {
      background-color: green !important;
      border-color: green !important;
    }
  }

  &--login {
    background-color: #47a1b3 !important;
    border-color: #47a1b3 !important;

    &:hover {
      background-color: darkcyan !important;
      border-color: darkcyan !important;
    }
  }
}

// Block: .form / Element: __hint
.form {
  &__hint {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.favorite {
  &--active {
    color: red;
  }
}
